.btn-green-pp {
    color: #FFFFFF;
    background-color: #0da800;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.signin-signup-text {
    font-size: 13px !important;
    color: #FFFFFF !important;
    font-weight: bold;
}

.btn-green-white-pp {
    color: #FFFFFF;
    background-color: #0da800;
    border-color: #FFFFFF;
    font-size: 18px;
}

.btn:hover {
    color: #FFFFFF;
    background-color: #006a00;
}


.btn-green-filter {
    width: 150px;
    border-radius: 25px;
    color: #FFFFFF;
    background-color: #0da800;
}

.btn-green-filter-darker {
    width: 150px;
    border-radius: 25px;
    color: #FFFFFF;
    background-color: #006a00;
}

.btn-dark-gray-form {
    color: #FFFFFF;
    background-color: #212426;
}

.text-green {
    color: #0da800;
}

.perfect-data-heading {
    font-size: 18px !important;
}

.text-bold {
    font-weight: bold;
}

.margin-right-pp {
    margin-right: 5px;
    margin-left: 5px;
}

.menu-text {
    outline: 0;
    color: #000000;
    font-weight: normal;
    font-size: 11px;
}

.text-white {
    color: #FFFFFF !important;
}

.text-white-footer {
    color: #FFFFFF !important;
    font-size: 16px !important;
}

.text-white-header {
    color: #FFFFFF !important;
    font-size: 12px !important;
    font-weight: bold;
}

.noHover {
    background-color: transparent !important;
    text-decoration: none !important;
    color: #000000 !important;
}

.noHoverLoginRegister{
    background-color: transparent !important;
    text-decoration: none !important;
    color:#FFFFFF !important;
}

.noHoverWhite {
    background-color: transparent !important;
    text-decoration: none !important;
    color: #FFFFFF !important;
    font-size: 18px;
}

.normal-font {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.logo-position {
    margin-bottom: 20px;
}

canvas {
    /* width:730px !important;
    height:730px !important; */
    width: 700px !important;
    height: 100% !important;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #0da800;
    color: white;
    text-align: center;
}

.header-container {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #0da800;
    color: white;
    text-align: center;
}

.footer_ref {

    width: 100%;
  
    /* background-color: #333048; */
    background-color: #212426;
    color: white;
    text-align: left;
}

.margin-top-60 {
    margin-top: 50px;
}

.footer-spacing {
    margin-top: 15px;
}

.padding-20 {
    margin-top: 20px;
}

.margin-bottom-10 {
    margin-top: 30px;
}

.margin-spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.margin-bottom-15 {
    margin-top: 15px;
}

.social {
    margin: 0;
    padding: 0;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 22px;
    text-align: center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-google-plus:hover {
    background: #e64522;
}

.social .fa-instagram:hover {
    background: #375989;
}

.border-left-box-green {
    padding-left: 20px;
    border-left: 6px solid #62A904;
    height: 150px;
}

.border-left-box-orange {
    padding-left: 20px;
    border-left: 6px solid #FFA500;
    height: 150px;
}

.border-left-box-blue {
    padding-left: 20px;
    border-left: 6px solid #1569C7;
    height: 150px;
}

.text-orange {
    color: #FFA500;
}

.text-blue {
    color: #1569C7;
}

.padding-5 {
    padding: 5px;
}

.padding-top-summary {
    /* padding-top: 40px;
    padding-left: 40px; */
}

.box-summary {
    text-align: center;
    /* background-color: #62A904; */
    border: 1px solid #62A904;
    width: 100%;
    padding: 20px;
    margin: 5px;
    /* color: #ffffff; */
    color: #000000;
}

.box-summary-inner {
    border: 1px solid #ffffff;
    padding: 5px;
}

.box-summary-inner-no-line {
    padding: 5px;
}

.box-summary-median {
    text-align: center;
    font-size: 14px !important;
    background-color: #0da800;
    width: 100%;
    padding: 5px;
    margin: 5px;
    color: #ffffff;
}

.panel-body {
    margin: 1px;
    padding: 1px;
}

.key-numbers-bold {
    font-size: 18px;
    font-weight: bold
}

.medium-heading {
    font-size: 31px;
    font-weight: bold
}

.text-slant {
    font-style: italic;
    font-size: 11px;
}

.text-small {
    font-size: 11px;
}

.padding-left-right {

    padding-right: 15px;
}