<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!/">PPR Application</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a href="/register">Register</a>
                    </li>

                    <li class="page-scroll" data-ng-show="$ctrl.authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="$ctrl.authentication.user.username"
                                data-ng-show="$ctrl.authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header data-ng-show="!$ctrl.authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="" alt="">
                    <div class="intro-text">
                        <span class="name">PPR TOOL</span>
                        <hr class="star-light">
                        <span class="skills">Compare And Statistic Tool</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="about" data-ng-show="$ctrl.authentication.user">
        <div class="container">

        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section data-ng-show="!$ctrl.authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>How It Works</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <img src="" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4 portfolio-item">
                    <img src="" class="img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about" data-ng-show="!$ctrl.authentication.user">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>What It Is?</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <p class="text-center">PPR Application tool to let you compare House Estate Prices</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Contact Us
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>