<script type="text/javascript" src="/todos/list-todos.js"></script>
<div>
    <!-- <nav class="navbar navbar-fixed-top"> -->
    <nav class="navbar">
        <!-- <div class="container">
            
            <div class="navbar-header page-scroll logo-position">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/"><img src="/img/pp-logo.png" alt="Perfect Property"></a>
            </div>
        -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>

                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-dark noHover" href="#">Buy</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-dark noHover" href="#">Rent</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-dark noHover" href="#">New Homes</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-dark noHover" href="#">Agent Finder</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-dark noHover" href="#">Deposit Decoder</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-dark noHover" href="#">Advice</a>
                    </li>

                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <div class="btn-group btn btn-green-pp margin-top-5" role="group" aria-label="...">
                            <a href="/login" class="noHover" style="color:#FFFFFF !important; font-weight: bold;">Login
                                /</a>
                            <a href="/register" class="noHover"
                                style="color:#FFFFFF !important; font-weight: bold;">Register</a>
                        </div>
                    </li>

                    <li class="page-scroll" data-ng-show="$ctrl.authentication.user">
                        <a href="/#!/" ng-click="$ctrl.showGraph()" ng-show="!$ctrl.showFilters">VIEW</a>
                        <a href="/#!/" ng-click="$ctrl.showGraph()" ng-show="$ctrl.showFilters">UPLOAD</a>
                    </li>
                    <li class="page-scroll" data-ng-show="$ctrl.authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="$ctrl.authentication.user.username"
                                data-ng-show="$ctrl.authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div> -->
        <!-- /.navbar-collapse -->
        <!-- </div> -->
        <div class="header-container">
            <div class="container">
                <div class="navbar-header page-scroll logo-position">
                    <a class="navbar-brand" href="/#!/"><img src="/img/pp-logo-footer.png" alt="Perfect Property"></a>
                </div>
                <ul class="nav navbar-nav navbar-left" style="margin-top: 15px; margin-left: 15px;">
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-header noHoverWhite" href="#">Buy</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-header noHoverWhite" href="#">Rent</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-header noHoverWhite" href="#">New Homes</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-header noHoverWhite" href="#">Agent Finder</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-header noHoverWhite" href="#">Deposit Decoder</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-header noHoverWhite" href="#">Advice</a>
                    </li>

                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <div class="btn-group btn btn-green-pp margin-top-5" role="group" aria-label="...">
                            <a href="/login" class="noHoverLoginRegister signin-signup-text">Login
                            </a>
                            <a href="/register" class="noHoverLoginRegister signin-signup-text">Register</a>
                        </div>
                    </li>
                </ul>


            </div>
        </div>
        <!-- /.container-fluid -->
    </nav>
    <!-- Client app without login -->
    <hr size="1">
    <!-- <section data-ng-show="!$ctrl.authentication.user"> -->
    <section data-ng-show="$ctrl.showFilters">

        <div class="container">
            <!-- filters form -->
            <div class="row text-left">
                <div class="text-center">
                    <span class="text-green text-bold perfect-data-heading">Perfect Data</span>
                    <div class="perfect-data-heading">Ireland’s go-to source of sold property price data</div>
                </div>
                <div class="margin-bottom-10"></div>
                <!-- <div class="panel panel-default p-3"> -->
                <div class="p-3">
                    <div class="panel-body">
                        <div class="form-group">
                            <!-- <label for="filterType">Filter Type</label>
                <select id="filterType" class="form-control" ng-model="$ctrl.filterType"
                    ng-change="$ctrl.changeFilter()"
                    ng-options="type.value as type.label for type in $ctrl.filterOptions"></select> -->
                            <!-- buttons filter -->
                            <div class="row">
                                <div class="col-sm-5 text-right">
                                    <button type="button" id="filterMonthly"
                                        class="btn btn-small btn-success btn-green-filter"
                                        ng-click="$ctrl.changeFilter('monthly')">Monthly
                                    </button>
                                </div>
                                <div class="col-sm-2 text-center">
                                    <button type="button" id="filterQuarterly"
                                        class="btn btn-small btn-success btn-green-filter"
                                        ng-click="$ctrl.changeFilter('quarterly')">Quarterly
                                    </button>
                                </div>
                                <div class="col-sm-5 text-left">
                                    <button type="button" id="filterYearly"
                                        class="btn btn-small btn-success btn-green-filter"
                                        ng-click="$ctrl.changeFilter('yearly')">Yearly
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="range" style="display:none">
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="counties">Select County <span class="text-danger">*</span></label>
                                <select data-ng-init="$ctrl.countyDropdowns()" class="form-control" ng-model="variant"
                                    id="variantRange"
                                    ng-options="county as county for county in $ctrl.counties"></select>
                            </div>
                            <div class="form-group">
                                <label for="areas">Select Area <span style="font-size:10px"
                                        class="text-danger">Optional</span></label>
                                <select data-ng-init="$ctrl.areaDropdowns()" class="form-control"
                                    ng-model="$ctrl.variantArea" id="variantAreaRange"
                                    ng-options="area as area for area in $ctrl.areas"></select>
                            </div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepickerStart'>
                                    <input type='text' class="form-control" placeholder="Start Date" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class='input-group date' id='datetimepickerEnd'>
                                    <input type='text' class="form-control" placeholder="End Date" />
                                    <span class="input-group-addon">
                                        <span class="fa fa-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <button type="button" class="btn btn-lg btn-dark-gray-form btn-block"
                                            ng-click="$ctrl.resetRangeFilter()">Reset
                                            Form</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button type="button" class="btn-group btn btn-green-pp"
                                            ng-click="$ctrl.searchDataRange()">Search
                                            Data</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="monthly">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="counties">Select County <span style="font-size:10px"
                                                class="text-danger">*</span></label>
                                        <select data-ng-init="$ctrl.countyDropdowns()" class="form-control"
                                            ng-model="variant" id="variantMonthly"
                                            ng-options="county as county for county in $ctrl.counties"
                                            ng-change="$ctrl.selectAreaPopulate(variant)"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="areas">Select Area <span style="font-size:10px"
                                                class="text-danger">Optional</span></label>
                                        <!-- <select data-ng-init="$ctrl.areaDropdowns()" class="form-control"
                                            ng-model="$ctrl.variantArea" id="variantAreaMonthly"
                                            ng-options="area as area for area in $ctrl.areas"></select> -->
                                        <select class="form-control select-area-populate"
                                            id="variantAreaMonthly"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="comparison">Year Comparison</label>
                                        <div class="form-check">
                                            <!-- Monthly None -->
                                            <input class="form-check-input" type="radio" name="monthlyYearComparison"
                                                id="monthly_none" value="0">
                                            <label class="form-check-label" for="yearComparison">
                                                <span class="padding-left-right"
                                                    style="font-weight: normal;">None</span>
                                            </label>
                                            <!-- End Monthly None -->
                                            <!-- Monthly Last -->
                                            <input class="form-check-input" type="radio" name="monthlyYearComparison"
                                                id="monthly_one" value="1" checked>
                                            <label class="form-check-label" for="yearComparison">
                                                <span class="padding-left-right" style="font-weight: normal;">Last
                                                    Year</span>
                                            </label>
                                            <!-- End Monthly Last-->
                                            <!-- Monthly Last Two -->
                                            <input class="form-check-input" type="radio" name="monthlyYearComparison"
                                                id="monthly_two" value="2">
                                            <label class="form-check-label" for="yearComparison">
                                                <span class="padding-left-right" style="font-weight: normal;">Last Two
                                                    Years</span>
                                            </label>
                                            <!-- End Monthly Last Two -->
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="startMonth">Start Month</label>
                                        <select id="startMonth" class="form-control" ng-model="$ctrl.startMonthDefault"
                                            ng-options="start.value as start.label for start in $ctrl.startMonth"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="endMonth">End Month</label>
                                        <select id="endMonth" class="form-control" ng-model="$ctrl.endMonthDefault"
                                            ng-options="end.value as end.label for end in $ctrl.endMonth"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="yearList">Year</label>
                                        <select id="yearList" class="form-control" ng-model="$ctrl.yearListDefault"
                                            ng-options="list.value as list.label for list in $ctrl.yearList"></select>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-dark-gray-form btn-block"
                                                    ng-click="$ctrl.resetMonthlyFilter()">Reset
                                                    Form</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn-group btn btn-green-pp btn-block"
                                                    ng-click="$ctrl.searchDataMonthly()">Search
                                                    Data</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="quarterly" style="display:none">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="counties">Select County</label>
                                        <select data-ng-init="$ctrl.countyDropdowns()" class="form-control"
                                            ng-model="variant" id="variantQuarterly"
                                            ng-options="county as county for county in $ctrl.counties"
                                            ng-change="$ctrl.selectAreaPopulate(variant)"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="areas">Select Area <span style="font-size:10px"
                                                class="text-danger">Optional</span></label>
                                        <!-- <select data-ng-init="$ctrl.areaDropdowns()" class="form-control"
                                            ng-model="$ctrl.variantArea" id="variantAreaQuarterly"
                                            ng-options="area as area for area in $ctrl.areas"></select> -->
                                        <select class="form-control select-area-populate"
                                            id="variantAreaQuarterly"></select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="yearList">Year</label>
                                        <select id="yearList" class="form-control" ng-model="$ctrl.yearListDefault"
                                            ng-options="list.value as list.label for list in $ctrl.yearList"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="comparison">Year Comparison</label>
                                        <div class="form-check">
                                            <!-- Quarterly None -->
                                            <input class="form-check-input" type="radio" name="QuarterlyYearComparison"
                                                id="quearterly_none" value="0">
                                            <label class="form-check-label" for="yearComparison">
                                                <span class="padding-left-right"
                                                    style="font-weight: normal;">None</span>
                                            </label>
                                            <!-- Quarterly None End -->
                                            <!-- Quarterly Last -->
                                            <input class="form-check-input" type="radio" name="QuarterlyYearComparison"
                                                id="quearterly_one" value="1" checked>
                                            <label class="form-check-label" for="yearComparison">
                                                <span class="padding-left-right" style="font-weight: normal;">Last
                                                    Year</span>
                                            </label>
                                            <!-- Quarterly Last End -->
                                            <!-- Quarterly Last Two -->
                                            <input class="form-check-input" type="radio" name="QuarterlyYearComparison"
                                                id="quearterly_two" value="2">
                                            <label class="form-check-label" for="yearComparison">
                                                <span class="padding-left-right" style="font-weight: normal;">Last Two
                                                    Years</span>
                                            </label>
                                            <!-- Quarterly Last Two End -->

                                        </div>

                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-dark-gray-form btn-block"
                                                    ng-click="$ctrl.resetQuarterlyFilter()">Reset
                                                    Form</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn-group btn btn-green-pp btn-block"
                                                    ng-click="$ctrl.searchDataQuarterly()">Search
                                                    Data</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="yearly" style="display:none">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="counties">Select County</label>
                                        <select data-ng-init="$ctrl.countyDropdowns()" class="form-control"
                                            ng-model="variant" id="variantYearly"
                                            ng-options="county as county for county in $ctrl.counties"
                                            ng-change="$ctrl.selectAreaPopulate(variant)"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="areas">Select Area <span style="font-size:10px"
                                                class="text-danger">Optional</span></label>
                                        <!-- <select data-ng-init="$ctrl.areaDropdowns()" class="form-control"
                                            ng-model="$ctrl.variantArea" id="variantAreaYearly"
                                            ng-options="area as area for area in $ctrl.areas"></select> -->
                                        <select class="form-control select-area-populate"
                                            id="variantAreaYearly"></select>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="startYear">Start Year</label>
                                        <select id="startYear" class="form-control" ng-model="$ctrl.startYearDefault"
                                            ng-options="start.value as start.label for start in $ctrl.startYear"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="endYear">End Year</label>
                                        <select id="endYear" class="form-control" ng-model="$ctrl.endYearDefault"
                                            ng-options="end.value as end.label for end in $ctrl.endYear"></select>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button type="button" class="btn btn-dark-gray-form btn-block"
                                                    ng-click="$ctrl.resetYearlyFilter()">Reset
                                                    Form</button>
                                            </div>
                                            <div class="col-sm-6">
                                                <button type="button" class="btn-group btn btn-green-pp btn-block"
                                                    ng-click="$ctrl.searchDataYearly()">Search
                                                    Data</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end filters form -->
            <div class="margin-bottom-10"></div>
            <div class="row">
                <div class="col-sm-5 normal-font">
                    <!-- first column -->
                    <div class="text-center">
                        <span class="text-green text-bold perfect-data-heading">Key Numbers</span>
                    </div>

                    <div class="col-sm-12 padding-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="border-left-box-green">
                                    <div class="text-green">Median Price</div>
                                    <div id="average-price-value">
                                        <div>No Data</div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-sm-6 padding-top-summary">
                                <div id="high-low-price-value"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 padding-5">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="border-left-box-orange">
                                    <div class="text-orange">Price Comparison</div>
                                    <div id="price-comparison-summary">
                                        <div>No Data to Compare</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 padding-top-summary">
                                <div id="total-sales-summary"></div>
                            </div>
                        </div>
                    </div>


                    <!-- end first column -->
                </div>
                <div class="col-sm-7">
                    <!-- second column -->
                    <div class="row text-left">
                        <div class="text-center">
                            <span class="text-green text-bold perfect-data-heading">Price Movements</span>
                            <div>Median Sold Price</div>
                        </div>

                        <!-- <div class="panel panel-default p-3"> -->
                        <div class="p-3">
                            <div class="text-center" id="noResult"></div>
                            <div height="730" width="650">
                                <div class="panel-body">
                                    <div id="dataloader" class="row text-center" data-ng-init="$ctrl.dataloader">
                                        <img src="/img/loader.gif" alt="Loading" height="180" width="180">
                                    </div>
                                    <div class="form-group">
                                        <div data-ng-init="$ctrl.findByCounty()" class="container">

                                            <div class="row" id="chartContainer">
                                                <canvas id="myChart"></canvas>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="text-center" id="noResult"></div> -->
                            </div>

                        </div>
                    </div>
                    <!-- end second column -->
                </div>
            </div>
            <div class="p-3">
                <div class="panel-body">
                    <div class="col-sm-12 padding-5">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="margin-spacer"></div>
                                <div id="why-median-text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <div class="margin-bottom-15"></div>
        <div class="footer">
            <div class="container">

                <div class="navbar-header page-scroll logo-position">
                    <a class="navbar-brand" href="/#!/"><img src="/img/pp-logo-footer.png" alt="Perfect Property"></a>
                </div>

                <ul class="nav navbar-nav navbar-left" style="margin-top: 15px; margin-left: 15px;">
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-footer noHoverWhite" href="#">Buy</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-footer noHoverWhite" href="#">Rent</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-footer noHoverWhite" href="#">New Homes</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-footer noHoverWhite" href="#">Agent Finder</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-footer noHoverWhite" href="#">Deposit Decoder</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a class="text-white-footer noHoverWhite" href="#">Advice</a>
                    </li>

                </ul>
                <div class="navbar-right">
                    <button style="margin-top:20px;" class="btn-group btn btn-green-white-pp" role="group"
                        aria-label="...">Create Listing</button>
                </div>

            </div>
        </div>
        <!-- end footer -->
        <!-- footer ref -->
        <div class="footer_ref">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-sm-3">
                        <ul class="list-unstyled margin-top-60">
                            <li><b>HOUSE FOR SALE DUBLIN</b></li>
                            <li>Dublin 1</li>
                            <li>Dublin 2</li>
                            <li>Dublin 3</li>
                            <li>Dublin 4</li>
                            <li>Dublin 5</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled margin-top-60">
                            <li><b>APARTMENT FOR SALE DUBLIN</b></li>
                            <li>Dublin 1</li>
                            <li>Dublin 2</li>
                            <li>Dublin 3</li>
                            <li>Dublin 4</li>
                            <li>Dublin 5</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled margin-top-60">
                            <li><b>APARTMENT FOR SALE DUBLIN</b></li>
                            <li>Dublin 1</li>
                            <li>Dublin 2</li>
                            <li>Dublin 3</li>
                            <li>Dublin 4</li>
                            <li>Dublin 5</li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="list-unstyled margin-top-60">
                            <li><b>APARTMENT FOR RENT DUBLIN</b></li>
                            <li>Dublin 1</li>
                            <li>Dublin 2</li>
                            <li>Dublin 3</li>
                            <li>Dublin 4</li>
                            <li>Dublin 5</li>
                        </ul>
                    </div> 
                </div>-->
                <div class="footer-spacing">
                    <div class="row">
                        <div class="col-sm-6 padding-20">
                            Perfect Property 2020. All Rights Reserved
                        </div>
                        <div class="col-sm-6 text-right">
                            <div class="social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-lg fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-lg fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-lg fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-lg fa-instagram"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- end footer ref -->

    </section>
    <!-- Admin app upload -->
    <!-- <section class="container" data-ng-show="$ctrl.authentication.user"> -->
    <section class="container" data-ng-show="!$ctrl.showFilters">
        <!-- <h1>Data Upload {{ $ctrl.testVar }}</h1> -->
        <h1>Data Upload</h1>
        <form class="form-signin" data-ng-submit="$ctrl.create()" novalidate>
            <div class="form-group">
                <label for="title" class="sr-only">Title</label>
                <div>
                    <input type="text" data-ng-model="$ctrl.title" id="title"
                        placeholder="Upload notes for reference (optional)" required autofocus class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" data-ng-model="$ctrl.date" id="date"
                        placeholder="Date of upload (optional)" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="file" id="fileUpload" />
            </div>
            <hr />
            <div class="form-group">
            </div>
            <div class="form-group">
                <button type="button" ng-click="$ctrl.upload()" class="btn btn-lg btn-primary btn-block"
                    data-toggle="modal" data-target="#confirmCsvSave">Upload
                    Data</button>
            </div>
            <div data-ng-show="$ctrl.error">
                <strong data-ng-bind="$ctrl.error"></strong>
            </div>
        </form>
    </section>
</div>

<!-- Modal CSV Upload -->
<div class="modal fade" id="confirmCsvSave" tabindex="-1" role="dialog" aria-labelledby="confirmCsvSave"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Insert</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="form-group"><label for="title">Title:</label> <span>{{ $ctrl.title }}</span></div>
                    <div class="form-group"><label for="data">CSV Data:</label>
                        <div id="dataJson"></div>
                    </div>
                    <div data-ng-show="!$ctrl.uploadError">
                        <strong data-ng-bind="$ctrl.dataUploadError"></strong>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" ng-click="$ctrl.saveCsvData()" class="btn btn-primary"
                    data-ng-show="!$ctrl.dataUploadError">Save Data</button>
            </div>
        </div>
    </div>
</div>