<script type="text/javascript" src="/todos/list-todos.js"></script>
<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/">MEAN TODO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/#!/"></a>
                    </li>

                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a href="/register">Register</a>
                    </li>

                    <li class="page-scroll" data-ng-show="$ctrl.authentication.user">
                        <a href="/#!/todos/create">UPLOAD</a>
                    </li>
                    <li class="page-scroll" data-ng-show="$ctrl.authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="$ctrl.authentication.user.username"
                                data-ng-show="$ctrl.authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- <section data-ng-init="$ctrl.find()">
        <div class="container">
            <h1>Todos</h1>
            Show completed: <input type="checkbox" ng-model="showcompleted" ng-init="showcompleted=true">
            <ul>
                <li data-ng-repeat="todo in $ctrl.todos" ng-if="showcompleted && todo.completed || !todo.completed">
                    <a data-ng-href="#!/todos/{{todo._id}}" data-ng-bind="todo.title" ng-class="todo.completed?'completed':''"></a>
                    (<small data-ng-bind="todo.created | date:'short'"></small>)
                    <br>

                    <small data-ng-bind="todo.comment" class="comment"></small>
                </li>
            </ul>
            <div data-ng-hide="!todos || todos.length">
                No todos yet, why don't you <a href="/#!/todos/create">create one</a>?
            </div>
        </div>
    </section> -->

    <!-- <section data-ng-init="$ctrl.listAll()"> -->
    <section data-ng-init="$ctrl.findByCounty()"></section>
    <div class="container">
        <div class="row">
            <canvas id="myChart"></canvas>
        </div>
        <center>
            <div id="dataloader" class="row" data-ng-init="$ctrl.dataloader">
                <img src="/img/loader.gif" alt="Loading" height="180" width="180">
            </div>
            <div id="noResult"></div>
        </center>
    </div>
    </section>

    <div class="container">
        <div class="row">

            <h1>Data Filters</h1>
            <div class="form-group">
                <select class="form-control" ng-model="variant" ng-options="option.county for option in $ctrl.counties"></select>
            </div>
            <div class="form-group">
                <div class='input-group date' id='datetimepickerStart'>
                    <input type='text' class="form-control" placeholder="Start Date" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class='input-group date' id='datetimepickerEnd'>
                    <input type='text' class="form-control" placeholder="End Date" />
                    <span class="input-group-addon">
                        <span class="fa fa-calendar"></span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="$ctrl.searchData()">Search
                    Data</button>
            </div>
        </div>
    </div>
    </section>


</div>