<div>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#!/">MEAN TODO</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a href="/login">Login</a>
                    </li>
                    <li class="page-scroll" data-ng-show="!$ctrl.authentication.user">
                        <a href="/register">Register</a>
                    </li>
                    <li class="page-scroll" data-ng-show="$ctrl.authentication.user">
                        <a href="/#!/todos/create">CREATE</a>
                    </li>
                    <li class="page-scroll" data-ng-show="$ctrl.authentication.user">
                        <a href="/#!/todos">TODOs</a>
                    </li>
                    <li class="page-scroll" data-ng-show="$ctrl.authentication.user">
                        <a href="/logout">Hello <span data-ng-bind="$ctrl.authentication.user.username"
                                data-ng-show="$ctrl.authentication.user"></span>, Logout?</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- <section data-ng-init="$ctrl.findOne()" class="container">
        <h1 data-ng-bind="$ctrl.todo.title" ng-class="$ctrl.todo.completed?'completed':''"></h1>
        <div data-ng-show="$ctrl.authentication.user._id == $ctrl.todo.creator._id">
            <a href="/#!/todos/{{$ctrl.todo._id}}/edit">edit</a>
            <a href="#" data-ng-click="$ctrl.delete();">delete</a>
        </div>
        <small>
            <em data-ng-bind="$ctrl.todo.created | date:'mediumDate'"></em>
        </small>
        <p data-ng-bind="$ctrl.todo.comment"></p>
    </section> -->

    <section class="container" data-ng-init="$ctrl.findOneByTitle()" data-ng-show="!$ctrl.authentication.user">
        <div class="container">
            <div class="row">
                <!-- <canvas id="myChart"></canvas> -->
            </div>
            <div class="row">
                <h1>Data Filters</h1>
                <div class="form-group">
                    <div class='input-group date' id='datetimepickerStart'>
                        <input type='text' class="form-control" placeholder="Start Date" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class='input-group date' id='datetimepickerEnd'>
                        <input type='text' class="form-control" placeholder="End Date" />
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-primary btn-block" ng-click="$ctrl.searchData()">Search
                        Data 2222</button>
                </div>
            </div>
        </div>
    </section>


</div>
<script type="text/javascript" src="/todos/list-todos.js"></script>