<!Doctype html>
<html ng-app="meanApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Tumbone Asukile">
    <title><% title %></title>

    <!-- raleway font -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" />

    <!-- <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet"> -->
    <link href="/css/bootstrap-customised.css" rel="stylesheet">
    <link href="/css/mean.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


</head>
<body >
    <section ng-view class="main-section"></section>

<!-- Angular Authentication Service will retrieve the following user object -->
    <script type="text/javascript">
        //IMPORTANT: If no user exitst the variable below stores the STRING 'null',
        //this is important with regards to how angular handles unauthenticated users.
        //'null' string value will validate data-ng-show to false
        window.user = <%- user || 'null' %>;
    </script>

<script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<!-- DATE PICKER -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/css/bootstrap-datetimepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.1.4/js/bootstrap-datetimepicker.min.js"></script>

<!-- OpenCPU client library -->
<script src="//cdn.opencpu.org/opencpu-0.4.js"></script>

<!-- Chart JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css"></script>

<!-- Toastr JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

<script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/mean.js"></script>

<link href="/css/list-page.css" rel="stylesheet">

<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
<script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
<script type="text/javascript" src="/bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="/app.module.js"></script>
<script type="text/javascript" src="/app.config.js"></script>
<script type="text/javascript" src="/core/core.module.js"></script>
<script type="text/javascript" src="/core/users/users.client.module.js"></script>
<script type="text/javascript" src="/core/users/users-auth.client.service.js"></script>
<script type="text/javascript" src="/core/todos/core-todos.client.module.js"></script>
<script type="text/javascript" src="/core/todos/core-todos.client.service.js"></script>

<script type="text/javascript" src="/todos/todos.client.module.js"></script>
<script type="text/javascript" src="/todos/todos.client.controller.js"></script>
<script type="text/javascript" src="/todos/list-todos.client.component.js"></script>
<script type="text/javascript" src="/todos/create-todo.client.component.js"></script>
<script type="text/javascript" src="/todos/view-todo.client.component.js"></script>
<script type="text/javascript" src="/todos/edit-todo.client.component.js"></script>

<script type="text/javascript" src="/dashboard/dashboard-view.client.module.js"></script>
<script type="text/javascript" src="/dashboard/dashboard-view.client.component.js"></script>

</body>
</html>
