<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>

    <!-- <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet"> -->
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->


    <link href="/css/bootstrap-4-3-1.min.css" rel="stylesheet">
    <link href="/css/login/signin.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="text-center">


    <div class="container">
        <form class="form-signin" action="/login" method="post">
            <img src="/img/b.png" alt="Smiley face" height="82" width="82">
            <h1 class="h3 p-3 font-weight-normal">PPR Sign In</h1>
            <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="Username" required
                    autofocus>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password">
            </div>
            <div class="p-3 font-weight-normal text-danger">
                <% for(var i in messages) { %>
                <div class="flash">
                    <%= messages[i] %>
                </div>
                <% } %>
            </div>
            <button class="btn btn-lg btn-navyBlue btn-block" type="submit">Login</button>
        </form>

    </div>
    </div>
    </div>
</body>

</html>