<!DOCTYPE html>
<html>

<head>
    <title>
        <%=title %>
    </title>
    <link href="/css/bootstrap-4-3-1.min.css" rel="stylesheet">
    <link href="/css/login/signin.css" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
</head>

<body class="text-center">


    <div class="container">
        <form class="form-signin" action="/register" method="post">
            <img src="/img/b.png" alt="Smiley face" height="82" width="82">
            <h1 class="h3 p-3 font-weight-normal">PPR Sign In</h1>
            <div class="form-group">
                <label for="username" class="sr-only">Username</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Username" required
                    autofocus>
            </div>
            <div class="form-group">
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Name" required autofocus>
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">E-mail</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="E-mail" required>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                    required>
            </div>
            <div class="p-3 font-weight-normal text-danger">
                <% for(var i in messages) { %>
                <div class="flash"><%= messages[i] %></div>
                <% } %>
            </div>

            <button class="btn btn-lg btn-navyBlue btn-block" type="submit">Register</button>

        </form>

    </div>
</body>

</html>